<div class="hero-wrapper relative overflow-hidden">
    <div class="h-screen bg-hero-image bg-no-repeat bg-cover bg-top" ></div>

    <div class="items-container flex flex-col lg:flex-row">
        <div class="img-container hover:brightness-90 transition-all cursor-pointer relative text-white hover:text-primary">
            <img src="../../assets/images/slide-2.webp" alt="" srcset="" class="w-full h-full">
            <span class="font-bold text-5xl absolute top-1/2 p-6">WOMEN'S</span>
        </div>
        <div class="img-container hover:brightness-90 transition-all cursor-pointer relative text-white hover:text-primary">
            <img src="../../assets/images/slide-4.webp" alt="" srcset="" class="w-full h-full">
            <span class="font-bold text-5xl absolute top-1/2 p-6">MEN'S</span>
        </div>
    </div>   

    <div class="description absolute top-1/4 left-0 w-full text-left text-white flex flex-col gap-8 p-4 lg:top-10 lg:left-1/2">
        <p class="font-bold text-5xl lg:text-8xl">SPRING</p>
        <p class="font-bold text-5xl lg:text-8xl">SUMMER</p>
        <p class="font-bold text-5xl lg:text-8xl">COLLECTION</p>
        <p class="font-bold text-xl">Get up to 30% Off New Arrivals</p>
        <app-button [buttonText]="'SHOP NOW'"></app-button>
    </div>
    
</div>